# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!lvleditor.exe
!itemEditor.exe
!npceditor.exe
*.out
*.app

#SFML 
*.layout
*.depend
TheGame.layout
TheGame.depend